body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

  #form-container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  select, input[type="text"] {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button[type="button"] {
    background-color: #28a745;
  }

  button[type="button"]:hover {
    background-color: #218838;
  }

  #content {
    margin-top: 20px;
    white-space: pre-wrap;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  #sheet-select {
    width: 200px; /* Đặt chiều rộng cố định cho combobox */
  }